@import "partials/colour-scheme";
@import "partials/semantic-override";
@import "partials/global";
@import "partials/sidebar";
@import "partials/transitions";

body {
  padding-left: 250px;

  * {
    font-family: Roboto, sans-serif;
  }
}

main {
  padding: 25px 50px;
}

main hr {
  margin-top: 15px;
}

.ui.card {
  height: 100%;

  &.fluid.link {
    .header {
      font-size: 14px;
    }
  }
}

.lockd.controls {
  .ui.input { width: 100%; }
}

.ui.divided.list {
  .item .content { width: 100%; }
  .password.details { margin-top: 15px; }
}

#password_copy_container {
  display: none;
}